Source: qtubuntu
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               libatspi2.0-dev,
               libegl1-mesa-dev,
               libfontconfig1-dev,
               libfreetype6-dev,
               libgles2-mesa-dev,
               libglib2.0-dev,
               libmtdev-dev,
               libubuntu-application-api-dev (>= 2.8.0),
               libudev-dev,
               libxrender-dev,
               libxkbcommon-dev,
               qt5-default,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               libqt5sensors5-dev,
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:qtubuntu
Standards-Version: 3.9.4
Section: libs

Package: qtubuntu-android
Architecture: armhf
Multi-Arch: same
Conflicts: qtubuntu-desktop
Replaces: qthybris (<< 0.37),
          qtubuntu (<< 0.52),
          qtubuntu-desktop
Breaks: qthybris (<< 0.37),
        unity8 (<< 7.85),
        ubuntu-touch-session (<< 0.107),
Provides: qtubuntu,
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libqt5sensors5,
         qtubuntu-sensors,
         ubuntu-application-api2-touch,
Description: Qt plugins for Ubuntu Platform API (mobile)
 QtUbuntu is a set of Qt5 components for the Ubuntu Platform API. It contains a
 QPA (Qt Platform Abstraction) plugin based on the Ubuntu Platform API and a
 legacy QPA plugin based on the compatibility layers. It also provides Qt
 bindings for Ubuntu Platform API features that are not exposed through the QPA
 plugins.
 .
 This variant of the package is for Android-based phones and tablets.

Package: qtubuntu-desktop
Architecture: any
Multi-Arch: same
Conflicts: qtubuntu-android
Replaces: qtubuntu (<< 0.52),
          qtubuntu-android
Breaks: qthybris (<< 0.37),
        unity8 (<< 7.85),
Provides: qtubuntu,
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libqt5sensors5,
         qtubuntu-sensors,
         ubuntu-application-api2-desktop,
Description: Qt plugins for Ubuntu Platform API (desktop)
 QtUbuntu is a set of Qt5 components for the Ubuntu Platform API. It contains a
 QPA (Qt Platform Abstraction) plugin based on the Ubuntu Platform API and a
 legacy QPA plugin based on the compatibility layers. It also provides Qt
 bindings for Ubuntu Platform API features that are not exposed through the QPA
 plugins.
 .
 This variant of the package is for GNU-based desktops.

Package: qthybris
Depends: ${misc:Depends},
         qtubuntu-android,
Architecture: any
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package for the qthybris -> qtubuntu
 transition.
