Source: qthybris
Priority: extra
Maintainer: Ricardo Mendoza <ricardo.mendoza@canonical.com>
Build-Depends:  debhelper (>= 8.0.0),
                qt5-default,
                qtbase5-private-dev,
                qtdeclarative5-private-dev,
                libudev-dev,
                libgles2-mesa-dev,
                libegl1-mesa-dev,
                libhybris-dev,
                libglib2.0-dev,
                zlib1g-dev,
                libfontconfig1-dev,
                libfreetype6-dev,
                libdbus-1-dev,
                libatspi2.0-dev
Standards-Version: 3.9.3
Section: libs

Package: qthybris
Section: libs
Architecture: armel armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt plugins for Ubuntu application API
 QtHybris is a set of Qt5 plugins based on libhybris and the Ubuntu
 application API. It contains Qt Platform Abstraction (QPA) plugins
 based on AAL+ and the compatibility layers. It also contains a QML
 plugin that can be used to access Ubuntu application API features.
