Source: qthybris
Priority: extra
Maintainer: Ricardo Mendoza <ricardo.mendoza@canonical.com>
Build-Depends:  debhelper (>= 8.0.0),
                qtdeclarative,
                qtbase,
                libudev-dev,
                libgles2-mesa-dev,
                libegl1-mesa-dev,
                libhybris-dev,
                libglib2.0-dev,
                zlib1g-dev,
                libfontconfig1-dev,
                libfreetype6-dev,
                libdbus-1-dev,
                libatspi2.0-dev
Standards-Version: 3.9.3
Section: libs

Package: qthybris
Section: libs
Architecture: armel armhf
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QPA Plugins for Hybris
 QtHybris is a Qt Platform Abstraction (QPA) plugin for Qt5 based on
 libhybris and the Ubuntu session API. It also contains a legacy
 plugin based on libhybris and the compatibility layers.
