#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --parallel

# Force the build to generate debug symbols, so we can have -dbgsym packages
override_dh_auto_configure:
	dh_auto_configure -- QMAKE_CXXFLAGS=-g

override_dh_install:
	dh_install --fail-missing
