#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- "CONFIG+=mirserver" "CONFIG+=mirclient" "CONFIG+=hybris" "QMAKE_CXXFLAGS=-g"

override_dh_install:
	rm -f debian/*/usr/lib/*/qt5/examples/qtubuntu/qmlscene-ubuntu
	dh_install --fail-missing
